@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    box-sizing: border-box;
    font-size: 1rem;
}

#navbar {
    background: rgb(194,226,236);
    background: linear-gradient(90deg, rgba(194,226,236,1) 0%, rgba(0,255,204,1) 8%, rgba(210,232,226,1) 54%, rgba(144,197,210,1) 100%);
}


.navbar-brand img {
    border-radius: 50px;
}

.gradient {
    background: rgb(16,195,251);
    background: linear-gradient(90deg, rgba(16,195,251,1) 0%, rgba(0,255,204,1) 39%, rgba(227,200,76,1) 50%, rgba(0,203,255,1) 100%);
}

.pageHeader { 
    margin-top: 127px;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
}

h1 {
    opacity: 1;
}

.headImg {
    border-radius: 80px;
}

.headImg:hover {
    border: 2px solid black;
    cursor: pointer;
    opacity: 0.7;
}

#top {
    background-color: rgb(8, 141, 182);
    border-radius: 40%;
}

.feature {
    color: white;
}

.feature ul {
    padding-left: 2rem;
    list-style-type: none;
}

.feature ul li {
    padding-left: 2rem;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.icon {
    color: #fff;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    background-color: whitesmoke;
}

.gallery img {
    border-radius: 5%;
}

.services {
    color: #fff;
}

footer {
    color: #fff;
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
}

a {
    color: #fff;
    text-decoration: none;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.products {
    padding: 80px 0 54px;
    color: #444444;
    font-family: "Poppins", sans-serif;
}

.products .header {
    margin-bottom: 50px;
}

.products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.products .single-product {
    margin-bottom: 26px;
}

.products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.products #product-1 .part-1::before {
    background: url("../img/products/p1.jpg") no-repeat center;
    background-size: cover;
		transition: all 0.3s;
}

.products #product-2 .part-1::before {
    background: url("../img/products/p2.jpg") no-repeat center;
    background-size: cover;
}

.products #product-3 .part-1::before {
    background: url("../img/products/p3.jpg") no-repeat center;
    background-size: cover;
}

.products #product-4 .part-1::before {
    background: url("../img/products/p4.jpg") no-repeat center;
    background-size: cover;
}
.products #product-5 .part-1::before {
    background: url("../img/products/p5.jpg") no-repeat center;
    background-size: cover;
}
.products #product-6 .part-1::before {
    background: url("../img/products/p6.jpg") no-repeat center;
    background-size: cover;
}
.products #product-7 .part-1::before {
    background: url("../img/products/p7.jpg") no-repeat center;
    background-size: cover;
}
.products #product-8 .part-1::before {
    background: url("../img/products/p8.jpg") no-repeat center;
    background-size: cover;
}

.products .single-product .part-1 .discount,
.products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}


.slideshow{
    width: 26%;
    margin: auto;
    border: 2px solid black;
    overflow: hidden;
    position: relative;
}
.slide{
    display: flex;
    width: 100%;
    height: 200px;
}
#prevBtn{
    position: absolute;
    top: 40%;
    left: -4%;
    z-index: 10;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
#nextBtn{
    position: absolute;
    top: 40%;
    right: -86%;
    z-index: 10;
    font-size: 30px;
    color: white;
    cursor: pointer;
}











